#loginPage {
  display: flex;
  background-color: rgb(33, 33, 33);
  width: 100vw;
  height: 100%;
  position: fixed;
  justify-content: center;
  z-index: 99999;
}
#login_signup_card {
  display: flex;
  background-color: rgb(75, 69, 108);
  width: 400px;
  height: 600px;
  margin-top: 200px;
  border: solid 10px black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
#buttons_box {
  background-color: brown;
  padding: 2px;
}
#buttons_box > button {
  border: 5px solid black;
}
input {
  padding: 5px;
  background-color: rgb(145, 143, 143);

  margin-top: 5px;
  margin-bottom: 5px;
}
