* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.brand {
  float: left;
  position: absolute;
  padding-left: 20px;
  line-height: 70px;
  font-size: 1.5em;
}

.brand a {
  text-decoration: none;
  color: white;
}

nav ul li a:not(:only-child):after {
  content: "▼";
  padding-left: 5px;
}

#icon {
  width: 30px;
  height: 30px;
}

.dropdown-toggle::after {
  border-top: none;
}