* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --text-color: Black;
  --main-color: orange;
  --bg-color: white;
  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 23px 15%;
  transition: all 0.38s ease;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-color);
}

span {
  color: var(--main-color);
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 5px 10px;
  margin: 2px 25px;
  border-bottom: 2px solid var(--main-color);
  transition: all 0.38s ease;
}

.navbar a:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}

.h-icons {
  display: flex;
  align-items: center;
  padding: 10px 22px;
  background: var(--main-color);
  border-radius: 5rem;
}

.h-icons i {
  font-size: 22px;
  color: var(--bg-color);
  margin-right: 15px;
  margin-left: 8px;
}

#menu-icon {
  font-size: 32px;
  color: var(--bg-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 90px 15% 80px;
}

.home {
  height: 88vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.home-img img {
  width: 100%;
  height: auto;
}

.home-text h1 {
  font-size: var(--big-font);
  line-height: 1.2;
  margin-bottom: 2rem;
}

.home-text p {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--second-color);
  margin-bottom: 2.3rem;
}

.btn {
  display: inline-block;
  padding: 14px 26px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 5rem;
  transition: all 0.38s ease;
}

.btn:hover {
  letter-spacing: 1px;
}

header.sticky {
  padding: 10px 15%;
  background: var(--bg-color);
  box-shadow: 0px 4px 15px rgb(0, 0, 0 / 8%);
}

.main-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
}

.main-text p {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(32px);
  line-height: 32px;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.about-img img {
  height: auto;
  width: 100%;
}

.about-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 2rem;
  line-height: 1.3;
}

.about-text p {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 2.3rem;
}

.contact {
  padding: 50px 15% 40px;
}

.main-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
}

.contact-content h4 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.contact-content li {
  margin-bottom: 16px;
}

.contact-content li a {
  display: block;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  transition: all 0.38s ease;
}

.contact-content li a:hover {
  transform: translateX(10px);
  color: var(--main-color);
}

.last-text p {
  text-align: center;
  padding: 25px;
  color: var(--text-color);
  font-size: 15px;
  letter-spacing: 1px;
}

.scroll-top {
  position: fixed;
  bottom: 2.2rem;
  right: 2.2rem;
}

.scroll-top i {
  padding: 8px;
  font-size: 1.4rem;
  color: #fff;
  background: var(--main-color);
  border-radius: 5rem;
}

@media (max-width: 1690px) {
  section {
    padding: 70px 2%;
    transition: 0.2s;
  }
  header {
    padding: 11px 2%;
    transition: 0.2s;
  }
  header.sticky {
    padding: 8px 2%;
    transition: 0.2s;
  }
  .contact {
    padding: 70px 2%;
  }
}
.container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
  /* Scott added styles and boxes to easily see where API fetches will go  */
}
#recipe_by_category {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  max-height: 40%;
  border: 2px solid blueviolet;
}
#recipe_container {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  border: 2px solid orange;
}
.recipe {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 2px solid red;
}

.recipe h3 {
  margin-bottom: 10px;
  color: #333;
  border: 2px solid black;
}

.recipe p {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  border: 2px solid green;
}

#recipe_by_ingredient {
  border: 2px dashed teal;
}
#checkbox {
  border: 2px dashed red;
}
#checked_recipes {
  border: 2px dashed chartreuse;
}
