
#body_display {
    display: flex;
    flex-direction: column;    
    align-items: center;    
    width: 100%;
    height: 100vw;
    
    background-image: url(https://images.unsplash.com/photo-1555126634-323283e090fa?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    }

#page_header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 5%;
    width: 45%;
    background-image: url(https://images.unsplash.com/photo-1621291726769-86a0b3fc6357?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border: groove 10px rgb(62, 42, 18);
}

#display_container {    
    display: flex;
    width: 50%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(62, 42, 18);
    margin: 5%;
    border: groove 10px rgb(62, 42, 18);
    border-radius: 25px;
}

#recipe_disc_box {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    padding: 5px;
    margin: 5%;
    border: groove 5px rgb(62, 42, 18);
    border-radius: 15px;
}

#ingredients {
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: burlywood;
    padding: 5px;
    border: groove 5px rgb(62, 42, 18);
    border-radius: 15px;
}

#side_scrollers > div {
    height: 93.5%;
    width: 120px;
    padding: 10px;
    display: flex;   
    background-color: burlywood;
    justify-content: center;
    position: fixed;
    right: 2vw;
    top: 2vw;
    border: solid 10px rgb(62, 42, 18);
    border-radius: 10px;
}

#left_side_bar {
    left: 2vw;    
}